:root {
  --accent-color: green;
  --secondary-color: honeydew;
  --primary-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--primary-font-family);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.hero h1 {
  color: var(--accent-color);
  font-size: 86px;
  font-weight: 600;
}

.hero h2 {
  font-size: 28px;
  font-weight: 400;
  opacity: 0.9;
}

.btn-branding {
  background: var(--accent-color);
  color: white;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  padding: 10px 20px;
}
