:root {
  --accent-color: #015758;
  --primary-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--primary-font-family);
}

h2 {
  font-size: 42px;
}

h4 {
  font-size: 40px;
  color: white;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.nav-item {
  padding: 0 8px;
}

.hero {
  background: var(--accent-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  color: white;
}

.hero h1 {
  color: white;
  font-size: 86px;
  font-weight: 600;
}

.hero h2 {
  font-size: 28px;
  font-weight: 400;
  color: white;
  opacity: 0.9;
}

.btn-branding {
  background: white;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 10px 20px;
}

.index-intro {
  font-size: 32px;
}

.description {
  opacity: 0.8;
}

.btn-outline {
  color: white;
  background: var(--accent-color);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 10px 20px;
}

.project-info {
  padding: 120px 60px;
}

.content-container {
  padding: 120px 20px;
}

.content-container h1 {
  font-size: 54px;
}

.content-container h2 {
  font-size: 20px;
}

.content {
  margin: 15px;
}

.coding-pic {
  width: 500px !important;
  height: 400px !important;
}

footer {
  margin: 50px 0;
}

footer .contact-box {
  background: var(--accent-color);
  padding: 30px 100px;
  border-radius: 10px;
}

footer .contact-box p {
  color: white;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

footer .email-link:hover {
  color: var(--accent-color);
}

footer .social-links a {
  margin: 10px 20px;
  color: var(--accent-color);
  font-size: 30px;
}

@media (max-width: 992px) {
  h4 {
    font-size: 20px;
  }
  .hero {
    padding: 100px 20px;
  }
  .hero h3 {
    font-size: 25px;
  }
  .hero h1 {
    font-size: 70px;
  }
  .hero h2 {
    font-size: 25px;
  }
  .project-info {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 100px 20px;
  }
  footer .contact-box {
    padding: 30px;
  }
  footer .btn-branding {
    padding: 10px;
  }
}
